<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name = "RollingFile" fileName ="logs/hippodrome.log"
                     filePattern = "logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="7" modulate="true" />
            </Policies>
            <DefaultRollOverStrategy>
                <Delete basePath = "/Users/igooorrrrr/Desktop/Java/hippodrome/logs" maxDepth = "0">
                    <IfFileName glob = "*.log" />
                    <IfLastModified age = "P7D" />
                </Delete>
            </DefaultRollOverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level = "DEBUG">
            <AppenderRef ref = "RollingFile" />
        </Root>
    </Loggers>
</Configuration>